name: PR Title Lint
on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
permissions:
  pull-requests: read
jobs:
  pr-title-lint:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Use Node 18
        uses: actions/setup-node@v2
        with:
          node-version: '18'
      - name: install
        run: yarn install
      - name: Hello world action step
        uses: ./.github/actions
        with:
          pr-number: ${{ github.event.pull_request.number }}
          pr-title: ${{ github.event.pull_request.title }}